<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" >
      <ion-button [routerLink]= "['/home']" (click)="seleccionA()">
        <ion-icon style="width: 22px;" color="primary" name="home" slot="icon-only"></ion-icon>
        
      </ion-button>
      <ion-button [routerLink]= "['/registro']" (click)="seleccionA()">
        <ion-icon color="primary" name="person-circle-outline" slot="icon-only"></ion-icon>
        
      </ion-button>
      
      </ion-buttons>
    <ion-title class="subtitulo" style="text-align: center; margin-right: 5%;">
      Acerca de Acción Callejera
    </ion-title>
    
      
    <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class= "contenedor" >
    <div class="hijo">
   <div><h1 >Acción Callejera – Fundación Educativa, Inc.</h1>
   </div>
    <p style="padding-top: 41px;" class= "normal">Acción Callejera – Fundación Educativa, Inc. es una institución sin fines de lucro que, desde el 1989, promueve acciones que garantizan los derechos fundamentales de la niñez y adolescencia en riesgo social en Santiago, República Dominicana, mediante la oferta integral de programas de apoyo que conducen a la comprensión de sus dificultades y mejoran sus condiciones de vida..</p>
   
    <h2 >Propósitos institucionales:</h2>

    <p style="margin-bottom: 3rem !important;">

      Ofrecer servicios de apoyo que impacten favorablemente la vida y el entorno de la niñez y adolescencia en riesgo social en todas sus modalidades.
      Fortalecer y ampliar acciones oportunas con el sector público y privado, creando articulaciones para la promoción y defensa de sus derechos fundamentales.
      Incidir en los distintos sectores para la defensa y protección de condiciones estables que favorezcan a esta población.
      Construir programas con respuestas integrales y enfoque de derechos que generen resultados sostenibles.

     
     
      
      
    </p>
    <p> <ion-label><ion-icon class="icon-only" lot="start" name="call-outline"> </ion-icon> (809) 581-0050</ion-label></p>
    <p> <ion-label style="margin: bottom 50px;"><ion-icon name="navigate"></ion-icon> Calle del Sol 131, Santiago De Los Caballeros 51000</ion-label></p>
    
  </div>
  </div>

  

</ion-content>