<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" >
      <ion-button [routerLink]= "['/home']" >
        <ion-icon style="width: 22px;" color="primary" name="home" slot="icon-only"></ion-icon>
        
      </ion-button>
      <ion-button [routerLink]= "['/registro']" >
        <ion-icon color="primary" name="person-circle-outline" slot="icon-only"></ion-icon>
        
      </ion-button>
      
      </ion-buttons>
    <ion-title style="text-align: center; margin-right: 5%;" class="subtitulo">
      Pasos para Reporte
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
   </ion-toolbar>
 
</ion-header>

<ion-content>
 <div class="principal">
  <div class="contenedor" class= "pasos">
    <h3 class ="titulo p-3 encabezado"> Paso 1</h3>
    <ion-list>
  <ion-list-header >
    <ion-label style="text-align: center;" class= "titulo">
      Seleccione Tipo de Abuso
    </ion-label>
  </ion-list-header>
  
  <ion-item>
    <ion-label></ion-label>
    <ion-select style="text-align: center;" placeholder="Seleccione" [(ngModel)]="newReporte.tipoAbuso">
      <ion-select-option value="Agresión Física">Agresión Física</ion-select-option>
      <ion-select-option value="Indigencia">Indigencia</ion-select-option>
      <ion-select-option value="Explotación Infantil">Explotación Infantil</ion-select-option>
      <ion-select-option value="Abuso Sexual">Abuso Sexual</ion-select-option>
      <ion-select-option value="Otro">Otro</ion-select-option>
    </ion-select>
    
  </ion-item>
</ion-list>
 
  </div>
  <div  *ngIf="newReporte.tipoAbuso!==''"   class= "pasos">
    <h3 class ="titulo p-3 encabezado"> Paso 2</h3>
    <ion-list>
  <ion-list-header>
    <ion-label class= "titulo">
      Datos del Infante
    </ion-label>
  </ion-list-header>
  <div class="contenedor" *ngIf="newReporte.tipoAbuso!==''">
       <ion-item>
         <ion-label   position="floating" class="normal" placeholder="Ingresar el nombre del Infante">Nombre:</ion-label>
          <ion-input [(ngModel)]="newReporte.nombre" class="normal" type="string" inputmode="text" placeholder="Este campo no es obligatorio"></ion-input>
       </ion-item>

      
        <ion-item>
          <ion-label>Edad:</ion-label>
          <ion-select [(ngModel)]="newReporte.edad" placeholder="seleccionar">
          <ion-select-option value="Menor de 5">Menor de 5</ion-select-option>
           <ion-select-option value="De 5 a 10 años">De 5 a 10 años</ion-select-option>
           <ion-select-option value="De 10 a 15 años">De 10 a 15 años</ion-select-option>
          </ion-select>
        </ion-item>

       <ion-item>
         <ion-label>Sexo:</ion-label>
         <ion-select [(ngModel)]="newReporte.sexo" placeholder="seleccionar">
         <ion-select-option value="M">M</ion-select-option>
          <ion-select-option value="F">F</ion-select-option>
         </ion-select>
       </ion-item>

       <ion-item (click)="addDirection()">
        <ion-label class="normal">
           Ubicación:
        </ion-label>
        <ion-buttons slot="end">
          <ion-button>
               <ion-icon slot="icon-only" color="danger" name="location"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
  
      
       <ion-item>
        <ion-label >Foto:</ion-label>
        
        <ion-buttons slot="end">
          
          <ion-button>
          
            <label for="file-upload"><ion-icon  slot="end" name="images"></ion-icon></label>
            <input (change)="newImg($event)" id="file-upload" style="visibility:hidden" type="file" accept="image/*">
            
            
          </ion-button>
        </ion-buttons>
        
      </ion-item>
      <ion-item ><img class= "image" [src]="img"></ion-item>
  
</div>
  
</ion-list>
     
  </div>

  <div *ngIf="newReporte.sexo!==''"   class= "pasos">
    <h3 class ="titulo p-3 encabezado"> Paso 3</h3>
    <ion-list-header>
      <ion-label class= "titulo">
        Descripción del Caso
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label   position="floating"  class="normal">Descripción Abuso:</ion-label>
      <ion-textarea autofocus="true" class="normal" [(ngModel)]="newReporte.descripcion" type="string" inputmode="text" placeholder="Introduzca descripción del caso"></ion-textarea>
    
    </ion-item>
  
  </div>
  
  <div class="contenedor" *ngIf="newReporte.sexo!==''" class= "pasos">
    <h3 class ="titulo p-3 encabezado"> Paso 4</h3>
    <ion-list>
  <ion-list-header>
    <ion-label class= "titulo">
      Datos del Informante
    </ion-label>
  </ion-list-header>

  <div>
    <ion-item lines="none" id="chckanoimo" > 
      <ion-checkbox  (click)="isActive = !isActive"  slot="start"></ion-checkbox>
      <ion-label>Anónimo</ion-label>
    </ion-item>
  </div>
   

  <div *ngIf="usuario.email !== '' && isActive === false" class="contenedor" style="margin-bottom: 10px;" >

     <ion-item>
    
    <ion-label    class="normal">Nombre:  {{usuario.nombre}}</ion-label>
   
  </ion-item>
  <ion-item>
    <ion-label    class="normal">Contacto: {{usuario.contacto}}</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-label   class="normal">Correo: {{usuario.email}}</ion-label>
    
   </ion-item>
</div>

<div *ngIf="usuario.email === '' && isActive === false" class="contenedor"  >

  <ion-item>
 <ion-label   position="floating" class="normal">Nombre:</ion-label>
 <ion-input  class="normal" [(ngModel)]="usuario.nombre" type="string" inputmode="text" placeholder="Introduzca su nombre"></ion-input>
</ion-item>
<ion-item>
 <ion-label   position="floating" class="normal">Contacto:</ion-label>
 <ion-input  class="normal"[(ngModel)]="usuario.contacto" type="string" inputmode="text" placeholder="Introduzca su numero de contacto"></ion-input>
</ion-item>
<ion-item>
 <ion-label   position="floating" class="normal">Correo:</ion-label>
 <ion-input  class="normal" [(ngModel)]="usuario.email" type="string" inputmode="email" placeholder="Introduzca su Correo Electronico"></ion-input>
</ion-item>
</div>
  
</ion-list>
     
  </div>
  <div class="action-buttons" style="margin-top: 20px; padding-bottom: 60px !important;">
    <ion-button  *ngIf="isActive=== true || newReporte.sexo!==''"  shape="round"  style="   width: 150
    px;" (click)="guardarDatos()">  Enviar  </ion-button>
    <ion-button shape="round" (click)="goAnOtherPage()"  class="signup-button"  fill="outline" >Cancelar </ion-button>
   
     </div>
 
  
    </div>
</ion-content>
